*/.ipynb_checkpoints/*
.ipynb_checkpoints/
*__pycache__/
*.mat
*.asv
*.m~

# macOS system file
.DS_Store

# IDE settings (e.g., PyCharm)
.idea/

# Version files or loose scripts
=1.26
=1.9
=3.8
dot_env/
Unrolled-DOT-files/


